* {
    box-sizing: border-box;
}

.square-container {
    width: 400px;
    height: 400px;
    border: 1px solid black;

    display: grid;
    align-items: center;
    align-content: stretch;
    grid-template-columns: repeat(8, 1fr);
    background-color: rgb(0, 190, 0);
}

.square {
    border: 1px solid black;
    width: 50px;
    height: 50px;

    place-self: center;
    place-items: center;

    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

.square_occupied {
    width: 90%;
    height: 90%;
    border-radius: 50%;
}
.square_X {
    background-color: black;
}
.square_O {
    background-color: white;
}

.move_candidate div {
    width: 25%;
    height: 25%;
    border-radius: 50%;

    background-color: lightblue;
}

.move_candidate:hover {
    cursor: pointer;
}

.move_candidate:hover {
    cursor: pointer;
    background-color: rgb(247, 113, 113);
}
