main {
    width: 65%;
    margin: auto;
}

.game {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.control-panel {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.control-panel-top {
    display: flex;
    justify-content: center;
}

.control-panel-config {
}
